build/*
.Xil/*
.vscode/*
artifacts/*
hls/cnn_net/cnn_ip_core/*
log_data/*
qt/sdk/*
qt/build*
**/slprj
vivado*.jou
vivado*.log
vivado*.str
webtalk*.jou
webtalk*.log
vitis_hls*.log
webtalk*.str
*runtime.txt
*.slxc
*.asv
*.m~